<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regex 101</title>
    <style></style>
  </head>
  <body>
    <form action="{{url_for('result_function')}}" method="post">
      <label><h3>Regex Expression</h3></label>
      <textarea rows="2" cols="25" type="text" name="in_1">{{r}}</textarea>
      <label><h3>Enter your test String</h3></label>
      <textarea rows="7" cols="25" type="text" name="in_2">{{t}}</textarea
      ><br /><br />
      <button style="font-size: 20px">Submit</button>
    </form>
    <form method="post">
      <label><h3>number of matches found:</h3></label>
      <textarea rows="2" cols="25" type="text" name="ou_1">
 {% if match|length %}{{count}}
 {% else %}
 None
      {% endif %}</textarea
      >
      <label
        ><h3>
          matches found
        </h3></label
      >
      <textarea rows="5" cols="25" type="text" name="ou_2">
        {% for i in range(count) %}
  Matches-{{i+1}}, Location :{{match[i][1]}} 
        {% else %}
        Match Not Found
        {% endfor %}</textarea
      >
    </form>
  </body>
</html>
